button{
	background-color: var(--bg-def);
	border: .125vmax solid var(--border-color);
	border-radius: .8vmax;
	padding: calc(.8vmax * var(--UI-scale));

	width: calc(25vmax * var(--UI-scale));
	height: calc(5vmax * var(--UI-scale));
	box-sizing: border-box;
	margin: 0;
	outline: none;
	font-size: calc(var(--font-small) * var(--UI-scale));
	cursor: pointer;
	color: rgb(165, 165, 165);

	transition: color .2s ease-in-out;

}button:hover{
	color: white;
}

button.start{
    bottom: 1vmax;
	right: 1vmax;
	position: absolute;

	background: var(--contrast);
	color: var(--bg-def);
}