h1{
	font-size: calc(var(--font-big) * var(--UI-scale));
	font-weight: bold;
	margin: 0; padding: 0;
}
p{
	font-size: calc(var(--font-small) * var(--UI-scale));
	font-weight: 400;
	margin: 0; padding: 0;

	color: rgba(255, 255, 255, 0.6);
}