/* import the poppins font with weights: 300 and 500 */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap);

/* FREQUENTLY USED STYLES */
/* -----------------------*/
:root{
    --border-radius: .5rem;
    --border-radius-inner: .25rem;
    --border: 1px solid rgba(255, 255, 255, 0.173);
    --border-color: rgba(0, 0, 0, 0.5);

    --main-bg: #19222b;

    --main-color: #272e3b;
    --main-color-hover: #232933;
    --main-color-active: #22262d;

    --text-color: white;

    --vibrant-green: #57cb57;
    --vibrant-yellow: #dfc925;

    --main-bg-image: url(https://artur.red/images/pattern-02.svg);
    --main-bg-image-color: blue;

    --grass-visibility: none;
}
body,
html{
    padding: 0; margin: 0;

    height: 100vh;
    background: var(--main-bg-image);
    background-color: var(--main-color);
    background-size: 10rem 10rem;

}div.floating{
    width: 95vw;
    height: 95vh;
    
    background: var(--main-bg);

    border-radius: var(--border-radius);

    box-shadow:
        0 1rem 1rem rgba(0, 0, 0, 0.26),
        inset 0 0 2rem rgba(0, 0, 0, 0.26);
}main{
    display: grid;
    grid-template-columns: min-content 1fr;

    height: 100vh;
}main > div{
    box-sizing: border-box;
    padding: 0 2rem;
    padding-top: 0;

    height: 100%;
}

body::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 40rem;

    bottom: 0;

    background: url(https://artur.red/images/grass.svg);

    touch-action: none;
    user-select: none;
    pointer-events: none;

    display: var(--grass-visibility);
}

nav{
    width: 10rem;
    height: 100%;

    background: var(--main-bg);

    box-sizing: border-box;
    padding: 1rem;

    border-right: var(--border);
}nav > form > input[type="text"]{
    width: 100%;
    height: 3rem;
}nav > ul{
    list-style: none;
    padding: 0;

    max-height: 40vh;

    box-sizing: border-box;
    padding: .5rem;

    border: var(--border);
    border-radius: var(--border-radius);

    margin-bottom: 1rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-x: scroll !important;
    max-width: calc(100vw - 1rem);

}nav > ul::-webkit-scrollbar {
    display: none;
}nav > ul > li{
    padding: 0;
    margin: 0;

    border-radius: var(--border-radius-inner);

    background: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;

}nav > ul > li.leader{
    background: var(--vibrant-yellow);
}nav > ul > li > img{
    height: 2.5rem;
}nav > ul > li > p{
    color: rgb(191, 191, 191);
    font-size: 0.7rem
}nav > ul > li > .kick-button{
    display: block;
    color: red;

    transform: rotate(45deg);

    font-size: 1.4rem;
    font-weight: 300;

    cursor: pointer;
    position: absolute;
    transition: transform .05s ease;

    left: 7rem;
}nav > ul > li > .kick-button:hover{
    transform: scale(1.3) rotate(45deg);
    color: rgb(212, 0, 0);
}nav > ul > li.leader > p{
    color: black;
}
*{
    font-family: 'Poppins', sans-serif;

    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}*::-webkit-scrollbar {
    display: none;
}

.width{
    width: 100%;
}.column{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 80%;
}.column > textarea{
    height: 20rem;
}

.center{
    display: flex;
    align-items: center;
    
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 2rem;
}.bottom{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);


    height: 4rem;
}

/* TEXT STYLES */
/* ------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    color: white;
}

p{
    font-size: 0.9rem;
    font-weight: 300;
}

/* GRID CONTAINERS */
/* ----------------*/

.grid-2x2-2{
    display: grid;
    grid-template-areas:
        "Header-1 Header-2"
        "Content-1 Content-2"
        "Footer Footer";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;

    height: 100%;
    width: 100%;
    max-height: 100%;

}.grid-2x2-2 > *{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1rem;

    padding: 0 2rem;
    box-sizing: border-box;

    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}.grid-2x2-2 > *::-webkit-scrollbar {
    display: none;
}.grid-2x2-2 > .border-bottom{
    border-bottom: var(--border);
}.grid-2x2-2 > .border-right{
    border-right: var(--border);
}

.main-room-section{
    display: grid;
    grid-template-rows: min-content 5fr;
    grid-template-columns: 1fr;

    width: 100%;
    height: 100vh;
    max-height: 100vh;

}.main-room-section > *{
    width: 100%;
    height: 100%;
}.main-room-section > .room-section-header{
    background: var(--main-bg);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    border: var(--border);
    border-top: none;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;
}

.container{
    width: 100%;
    height: calc(100% - 2rem - 8rem);
    max-height: calc(100% - 2rem - 8rem);
    display: flex;

    background: var(--main-bg);

    border-radius: var(--border-radius);
    border: var(--border);

    margin-top: 2rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;
}.container > div{
    max-height: 50vh;
    overflow-y: scroll;
    height: 100%;

    width: 100%;
}.container > div.config{
    display: flex;
    justify-content: center;
    align-content: center;

    height: 100%;
    width: 100%;

}.container > div.config > .column{
    width: min-content;
    height: min-content;

    margin: auto;
}

/* INPUTS */
/* -------*/
input,
textarea{
    border: var(--border);
    border-radius: var(--border-radius);

    box-sizing: border-box;
    padding: 1rem;

    background: var(--main-color);
    color: white;
    
    resize: none;
}
input:hover,
textarea:hover{
    background: var(--main-color-hover);
}
input:hover,
textarea:active{
    background: var(--main-color-active);
}

button{
    border: var(--border);
    border-radius: var(--border-radius);

    background: var(--main-color);
    color: white;

    box-sizing: border-box;
    padding: 1rem;

    height: min-content;
    min-width: 8rem;
}button:hover{
    background: var(--main-color-hover);
}button:active{
    background: var(--main-color-active);
}

input[type="checkbox"]{
	display:none;  
}input[type="checkbox"]:checked + label{
    background:var(--vibrant-yellow);
}input[type="checkbox"]:checked + label:before{
    left: calc(100% - 2rem);
}.block{
	width: min-content;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}.block > span{
	text-transform: uppercase;
	font-weight: 200;

	margin-left: 1rem;
    color: var(--text-color);
}.block > label{
	width: 4.8rem;
	height: 2.4rem;
	box-sizing: border-box;
	border: .1rem solid var(--border-color);
	
	border-radius: 10rem;
	position: relative;
	cursor: pointer;
	transition: background .2s ease;

	background: var(--nav-bg);
    color: var(--text-color);
}.block > label:before{
    transition: left .2s ease;
	content: '';
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
    background: var(--main-color);
	left: 0.2rem;
    
	top: 0.225rem;
	
	box-sizing: border-box;
	border: 0.1rem solid var(--border-color);
	color: black;
	border-radius: 10rem;
}


/* MEDIA QUERIES */
/* ------------- */

@media screen and (max-width: 1500px){
    .grid-2x2-2{
        grid-template-areas:
            "Content-1 Content-2"
            "Footer Footer";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
    }.grid-2x2-2 > .header{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .grid-2x2-2{
        grid-template-areas:
            "Content-1"
            "Content-2"
            "Footer";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content 1fr;
    }.grid-2x2-2 > .header{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .player-answer-container{
        grid-template-columns: 1fr !important;
    }
    main{
        grid-template-rows: min-content 1fr !important;
        grid-template-columns: 1fr;

        height: 100vh;
    }main > nav{
        width: 100%;

        padding: .5rem;
        border: none;
    }main > nav > ul{
        height: 100%;
        width: 100%;

        margin: 0;

        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
    }main > nav > p{
        display: none;
    }

    
    main > div{
        width: 100%;
        height: 100%;

        overflow-y: scroll;
    }.main-room-section{
        height: 100% !important;
        max-height: 90vh !important;

        overflow-y: scroll !important;

        padding: 0;
    }.room-section-header{
        /* Important must stay here, otherwise it will be overwritten */
        border-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: none !important;
        width: 100%;

        border-bottom: var(--border);
    }
    .grid-2x2-2 > .border-bottom{
        border-bottom: none;
    }.grid-2x2-2 > .border-right{
        border-right: none;
    }
    .center{
        padding: 0;
    }main > div{
        padding: 0;
    }
    h1{
        font-size: 1.5rem;
    }

    .container{
        border-radius: 0;
        border: none;
    }
}

/* KEYFRAMES */
/* --------- */




/* CHAT */
/* ---- */

.chat-container{
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 1fr;

    flex-direction: column;

    width: 100%;
    height: 100% !important;
    min-height: 100%;

    box-sizing: border-box;
    padding: 1rem;

}.chat-container > *{
    overflow: hidden;
}.chat-container > #chat-form{
    height: min-content;
    box-sizing: border-box;
    padding: .1rem;
}.chat-container > .chat-output{

    overflow-y: scroll;

    /* hide scrollbar but keep funtionality */
    -ms-overflow-style: none;
    scrollbar-width: none;

    mask-image: linear-gradient(to bottom, transparent,black 2rem, black calc(100% - 1rem), transparent), linear-gradient(black, black);
	mask-size: 100%, 0px 100%;
	mask-position: 0 0, 100% 0;
	mask-repeat: no-repeat, no-repeat;

    padding: 0;
    padding-left: 1rem;

}.chat-container > .chat.chat-output::-webkit-scrollbar{
    display: none;
}



/* NOTICES */
/* ------- */

.notice{
	width: max-content;
	min-width: 10vmax;
	height: 3vmax;
	background: var(--main-color);
	color: white;

	padding: 0 2vmax;

	position: fixed;
	border-radius: .8vmax;

	left: 50%;
	bottom: 1vmax;
	transform: translateX(-50%);

	box-shadow: 0 1vmax 3vmax rgba(0, 0, 0, 0.305);
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	user-select: none;

	animation: notice-intro .25s ease-in-out forwards;
}
@keyframes notice-intro {
	from{
		bottom: 0vmax;
		transform: translateY(125%) translateX(-50%);
	}to{
		bottom: 1vmax;
		transform: translateY(0%) translateX(-50%);
	}
}

/* OUTPUTS */
/* ------- */

.player-answer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    gap: 1rem;

    box-sizing: border-box;
}
.player-answer{
    width: 100%;
    height: 8rem;
    
    background: var(--main-bg);
    
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;

    border-radius: var(--border-radius);
    border: var(--border);
    
    cursor: pointer;
    position: relative;

}.player-answer::before{
    content: "";
    transition: background .2s ease-in-out, filter .05s ease-in-out;

    background: transparent;
    position: absolute;

    border-radius: var(--border-radius);

    transform-origin: center bottom;

}.player-answer:hover::before{
    content: "Vote";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;

    color: white;

    background: rgba(255, 255, 255, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);

}.player-answer:hover{
    border-color: var(--vibrant-green)
}.player-answer:active::before{
    filter: brightness(80%);
}

.player-answer > .card-number{
    position: absolute;
    right: 2rem;

    width: 5rem;
    height: 5rem;

    opacity: 0.4;
}.player-answer > p.score{
    font-size: 1.5rem;
    top: 0%;
    transform: translateY(-50%);
    
    color: var(--vibrant-green);
    position: absolute;

    /* background: var(--main-bg); */
    padding: 0 1rem;

    /* border-radius: var(--border-radius);
    border: var(--border); */

}.player-answer > .bottom{
    all: unset;
    height: 2rem;
    width: 100%;

    background: var(--main-color);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

span.snippet{
    font-size: 1rem;

    background: var(--main-bg);
    border-radius: var(--border-radius);
    border: var(--border);

    padding: .25rem .5rem;

    color: var(--text-color);

    margin: 0 .2rem;

    cursor: pointer;
    user-select: none;

    white-space: normal;
}span.snippet:hover{
    border-color: var(--vibrant-green)
}span.snippet:active{
    background: var(--vibrant-green);
    color: black;
}