.slides{
	position: relative;
	width: 100%;
	display: grid;
}
.slides .slide{
	width: 100%;
	border-radius: calc(1.25vmax * var(--UI-scale));
	background: linear-gradient(160deg, #e51fea -50%, #fa9848);
	
	display: flex;
	flex-flow: column;
	overflow: hidden;

	grid-column: 1;
	grid-row: 1;

	position: relative;

	padding: calc(1vmax * var(--UI-scale)) calc(1vmax * var(--UI-scale));
}.slides .slide.active{
	opacity: 1;
	z-index: 2;

	animation: fadeIn forwards .5s ease-in-out ;
}
.slides .slide:after{
	content:"";
	position: absolute;
	left: 0; top: 0;
	
	width: 100%; height: 100%;
	background-image: url(https://artur.red/images/circle.svg);
	background-repeat: no-repeat;
	background-position: 230% 30%;
	background-size: 80%;

	pointer-events: none;
}.slides .slide img{
	position: absolute;
	left: 50%; top: 0;
	width: calc(18vmax * var(--UI-scale));
	z-index: 1;
	pointer-events: none;
}
.slides .slide h1{
	margin: 0; padding: calc(1vmax * var(--UI-scale)) calc(1vmax * var(--UI-scale));
	font-size: calc(var(--font-big) * var(--UI-scale));
	color: var(--color-inverted);
}.slide .buttons{
	display: flex;
	align-items: center;
	gap: calc(1vmax * var(--UI-scale));

	padding: calc(1vmax * var(--UI-scale)) calc(1vmax * var(--UI-scale));
}.dots{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}.dots .dot{
	width: calc(0.625vmax * var(--UI-scale));
	height: calc(0.625vmax * var(--UI-scale));
	padding: calc(1vmax * var(--UI-scale)) calc(.5vmax * var(--UI-scale));
}.dot span{
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--dot-color);
	border-radius: 50%;
}.dot.active span{
	background-color: var(--color-sec);
}


.fade-in, .fade-in-toggle {
	opacity: 0 !important;
	-webkit-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

.fade-in.observing, .fade-in-toggle.observing {
	opacity: 1 !important;
}

.fade-out {
	opacity: 0 !important;
	-webkit-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

.fade-out.observing {
	opacity: 1 !important;
}


@keyframes fadeIn{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

/* CONTENT SLIDER BUTTONS */
button{
	width: calc(9vmax * var(--UI-scale)); height: calc(3.5vmax * var(--UI-scale));

	border-radius: calc(100vmax * var(--UI-scale));
	border: none;

	font-size: calc(var(--font-small) * var(--UI-scale));
	border: calc(0.125vmax * var(--UI-scale)) solid var(--color-inverted);
	cursor: pointer;
	mix-blend-mode: screen;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(.3vmax * var(--UI-scale));
} button.inverted{
	background: none;
	mix-blend-mode: normal;
	color: var(--color-inverted);
	border: calc(0.125vmax * var(--UI-scale)) solid var(--color-inverted);
}button:hover{
	opacity: .9;
}