
nav{
	height: 100vh;
	background-color: var(--nav-bg);

	min-width: calc(16vmax * var(--UI-scale));
    max-width: calc(16vmax * var(--UI-scale));

	display: flex;
	align-items: center;
	flex-direction: column;
	border-right: calc(0.1vmax * var(--UI-scale)) solid var(--border-color);

    grid-area: Sidebar;
}.nav-wrapper{
	margin-top: calc(1vmax * var(--UI-scale));
	width: var(--menu-width);
	height: 95%;
	display: flex;
	flex-direction: column;
}

.user{
	position: relative;
	display: flex;
	align-items: center;
	height: calc(2.5vmax * var(--UI-scale));
}





.player-list{
	list-style: none;
	margin: 0; padding: 0;
	display: flex;
	flex-direction: column;
	gap: calc(1vmax * var(--UI-scale));
	overflow-y: scroll;
	padding: calc(1vmax * var(--UI-scale)) 0;

	mask-image: linear-gradient(to bottom, transparent,black calc(1vmax * var(--UI-scale)), black calc(100% - calc(1vmax * var(--UI-scale))), transparent), linear-gradient(black, black);
	mask-size: 100%, 0px 100%;
	mask-position: 0 0, 100% 0;
	mask-repeat: no-repeat, no-repeat;
}

.player{
	background-color: var(--border-color);
	border-radius: calc(0.5vmax * var(--UI-scale));

	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: calc(.2vmax * var(--UI-scale)) calc(.5vmax * var(--UI-scale));
	gap: calc(.5vmax * var(--UI-scale));
	
}.player img{
	border-radius: 50%;
	height: calc(2.2vmax * var(--UI-scale)); width: calc(2.2vmax * var(--UI-scale));
}.player p{
	font-size: calc(var(--font-small) * var(--UI-scale));
}.player.leader{
	background-color: orange;
}.player.active{
	background: linear-gradient(to right, var(--border-color) 95%, lime 95%);
}



.kick-button{
	margin-left: auto;
	margin-right: .5rem;

	display: inline-block;
	transform: rotate(45deg);

	font-size: calc(var(--font-small)*1.5);
	font-weight: 100;
	user-select: none;
	cursor: pointer;

	color: rgba(0, 0, 0, 0.2);
}.kick-button:hover{
	color: red;
}.kick-button:active{
	color: rgb(220, 11, 11);
}
