.logo{
	margin: calc(.8vmax * var(--UI-scale));
	margin-bottom: calc(2.5vmax * var(--UI-scale));
	display: flex;
	align-items: center;
	gap: calc(0.625vmax * var(--UI-scale));

	flex-direction: row;
	flex-wrap: nowrap;
	white-space: nowrap;
}.logo img{
	width: calc(2vmax * var(--UI-scale));
	height: calc(2vmax * var(--UI-scale));

	display: inline-block;
}.logo h1{
	font-size: calc(var(--font-small) * var(--UI-scale));
	font-weight: 500;
	margin: 0; padding: 0;

	display: inline-block;
}.logo.top{
	left: 1vmax;
	top: 1vmax;

	margin: 0%;
	position: absolute;
}.logo a{
	text-decoration: none;
	color: var(--color-text);
	font-family: "Poppins", sans-serif;
	font-weight: 800;
}