header{
	grid-area: Header;
	/* height: var(--header-height); */
	background-color: var(--bg-def);
	
	padding: 0 calc(2vmax * var(--UI-scale)) 0 calc(5vmax * var(--UI-scale));
	position: relative;


	/*Center searchbar, and put profile to left*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-bar{
	height: calc(2.5vmax * var(--UI-scale));
	width: 40%; max-width: calc(35vmax * var(--UI-scale));
	position: relative;

	display: flex; 
	align-items: center;

}.search-bar > .search{
	width: 100%;
	height: 100%;
	
	padding-left: calc(2.6vmax * var(--UI-scale));
	padding-right: calc(1vmax * var(--UI-scale));

	border: none;
	border-radius: calc(0.3125vmax * var(--UI-scale));
	
	font-size: 0.8vmax;
	font-weight: 300;
	color: var(--color-def);
	border: calc(0.0625vmax * var(--UI-scale)) solid var(--nav-bg);

	transition: border .1s ease-in-out;
}.search-bar > .search::placeholder{
	color: var(--color-def);

	opacity: .7;
}.search-bar > .search:focus{
	outline: none;
	border: calc(0.0625vmax * var(--UI-scale)) solid var(--color-def);
}
label[for="search"]{
	position: absolute;
	display: flex;
	align-items: center;
	left: calc(0.625vmax * var(--UI-scale))

}label[for="search"] svg{
	width: calc(1.3vmax * var(--UI-scale)); 
	height: calc(1.3vmax * var(--UI-scale));
	color: var(--color-def);
	opacity: .8;
}
