nav{
	grid-area: Sidebar;
	height: 100%;
	background-color: var(--nav-bg);

	min-width: calc(11.2vmax * var(--UI-scale));

	display: flex;
	align-items: center;
	flex-direction: column;
	border-right: calc(0.1vmax * var(--UI-scale)) solid var(--border-color);
}.nav-wrapper{
	margin-top: calc(1vmax * var(--UI-scale));
	width: var(--menu-width);
	height: 95%;
	display: flex;
	flex-direction: column;
}

.nav-menu{
	list-style: none;
	margin: 0; padding: 0;

	/* display: flex;
	flex-direction: column;
	gap: calc(1vmax * var(--UI-scale)); */
}

.nav-item{
	position: relative;
	display: flex;
	align-items: center;

	user-select: none;

	padding: calc(.8vmax * var(--UI-scale)) 0 calc(.8vmax * var(--UI-scale)) calc(1vmax * var(--UI-scale));
}.nav-item.active .nav-link{
	color: var(--color-sec);
}.nav-item.active:after{
	content: "";
	position: absolute;
	left: calc(-1.5vmax * var(--UI-scale));
	width: calc(0.6vmax * var(--UI-scale));
	height: 100%;
	background-color: var(--color-sec);
	border-radius: calc(100vmax * var(--UI-scale));
}
.nav-link{
	color: var(--color-def);
	text-decoration: none;
	font-weight: 400;

	display: flex;
	align-items: center;

	gap: calc(0.625vmax * var(--UI-scale))
}.nav-link p{
	margin: 0; padding: 0;
	font-size: calc(0.9vmax * var(--UI-scale));
	font-weight: 400;

	margin-bottom: -.2vmax;

}.nav-link svg{
	width: calc(1.5vmax * var(--UI-scale)); 
	height: calc(1.5vmax * var(--UI-scale));
}

.social-links{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(1vmax * var(--UI-scale));

	margin-top: auto;
}.social-links svg{
	width: calc(2vmax * var(--UI-scale)); 
	height: calc(2vmax * var(--UI-scale));
	color: var(--color-def);
	opacity: .8;
}.social-links svg:hover{
	opacity: 1;
}
.icon{
	cursor: pointer;
	width: calc(1.5vmax * var(--UI-scale)); height: calc(1.5vmax * var(--UI-scale));
}