.user{
	position: relative;
	display: flex;
	align-items: center;
	height: calc(2.5vmax * var(--UI-scale));
}

.profile{
	display: flex;
	align-items: center;
	gap: calc(1vmax * var(--UI-scale));
}.profile img{
	width: calc(2.5vmax * var(--UI-scale)); height: calc(2.5vmax * var(--UI-scale));
	border-radius: 50%;
	border: calc(0.0625vmax * var(--UI-scale)) solid var(--border-color);
	background-color: var(--color-def);
}.profile p{
	margin: 0; padding: 0;
	font-size: calc(var(--font-small) * var(--UI-scale));
	font-weight: 400;
	color: var(--color-def);
}
