.snippet-output{
	display: flex;
	align-items: center;
	justify-content: center;

	flex-wrap: wrap;

	width: 80%;
	height: min-content;
	min-height: calc(12vmax * var(--UI-scale));

	background: var(--bg-def);
	border: .125vmax solid var(--border-color);
	border-radius: calc(1vmax * var(--UI-scale));

	box-sizing: border-box;
	padding: calc(1vmax * var(--UI-scale));
}.snippet-output > span{
	margin: 0 .4vmax;
}
.snippet-input{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	width: 80%;
	height: min-content;
	min-height: calc(10vmax * var(--UI-scale));
	max-height: calc(25vmax * var(--UI-scale));

	overflow-y: scroll;
	
	box-sizing: border-box;
	padding: calc(.5vmax * var(--UI-scale));

	background: var(--bg-def);
	border: .125vmax solid var(--border-color);
	border-radius: calc(1vmax * var(--UI-scale));

	margin-top: 10vmax;
}.snippet-input > span{
	background: var(--nav-bg);

	margin: .2vmax;
	padding: .2vmax 1vmax;

	cursor: pointer;
	user-select: none;

	filter: brightness(100%);

	transition: filter .1s ease-in-out, color .1s ease-in-out;
	color: rgba(255, 255, 255, 0.75);

	border-radius: calc(.25vmax * var(--UI-scale));
	border: .125vmax solid var(--border-color);
}.snippet-input > span:hover{
	filter: brightness(90%);
	color: white;
}